/* Comments */

span.cm-comment {
    color: blue;
    font-size: 0.7em;
}


/* Button ========================================================================================= */
div.mb-button {
    margin-left: 2em !important;
}


/* Tags =========================================================================================== */

/* set colour variables (makes it easy to reuse colours)
/*sets colour for #{tag} in reading mode */
/* .tag[href="#{tag}"]{
color: red !important;
background-color: green !important;
} */
/* sets colour for #{tag} and any subtags in reading mode */
/* .tag[href^="#{tag}/"]{
color: red !important;
background-color: green !important;
} */
/* sets colour for for #{tag} in editor */
/* span.cm-hashtag[class$="cm-tag-{tag}"] {
color: red !important;
background-color: green !important;
} */
/* sets colour for #{tag} and any subtags in the editor */
/* span.cm-hashtag[class*="cm-tag-{tag}"] {
color: red !important;
background-color: green !important;
} */
.cm-hashtag {
    padding-top: 0em;
    padding-bottom: 0.1em;
}
span.cm-hashtag.cm-hashtag-begin {
    padding-inline-start: 0.5em;
    border-bottom-left-radius: 0.5em 2em;
    border-top-left-radius: 0.5em 2em;
    width:0;
    visibility:hidden;
    display:none;
}
.cm-hashtag.cm-hashtag-end {
    /* font-stretch:extra-condensed;
    transform: scale(.8,1); */
    padding-inline-start: 0.1em;
    border-bottom-left-radius: 0.5em 2em;
    border-top-left-radius: 0.5em 2em;
    padding-inline-end: 0.1em;
    border-bottom-right-radius: 0.5em 2em;
    border-top-right-radius: 0.5em 2em;
}
/* span.cm-tag-ISSUE {
    color: #ff0000;
} */
a.tag {
    padding-top: 0em;
    padding-bottom: 0.1em;
    padding-inline-start: 0.1em;
    border-bottom-left-radius: 0.5em 2em;
    border-top-left-radius: 0.5em 2em;
    padding-inline-end: 0.1em;
    border-bottom-right-radius: 0.5em 2em;
    border-top-right-radius: 0.5em 2em;
}
/* .tag[href="#ISSUE"] {
    color: #00ffff !important;
} */


/* Outline ======================================================================================== */

/* Shift left all headings in the gutter in order to make them more distinguishable from text bodies in Editing and Reading modes. */
/* NOTE : `:not(.callout-content)` is used to exclude headings contained in callout boxes */
/* .HyperMD, 
:not(.callout-content) > h1,
:not(.callout-content) > h2,
:not(.callout-content) > h3,
:not(.callout-content) > h4,
:not(.callout-content) > h5,
:not(.callout-content) > h6 {
  position: relative;
} */
h1, .HyperMD-header-1 {
    left: -6rem;
  }
  h2, .HyperMD-header-2 {
    left: -5rem;
  }
  h3, .HyperMD-header-3 {
    left: -4rem;
  }
  h4, .HyperMD-header-4 {
    left: -3rem;
  }
  h5, .HyperMD-header-5 {
    left: -2rem;
  }
  h6, .HyperMD-header-6 {
    left: -1rem;
  }
  div.markdown-preview-view,
  div.markdown-source-view div.cm-content { /* This is used to center note considering shifted titles */
    padding-left: 8rem !important;
    padding-right: 2rem !important;
  }
  div.markdown-preview-view,
  div.markdown-source-view div.cm-content div.cm-lineWrapping { /* Prevent indentation when editing table cells */
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  

/* Tasks ========================================================================================== */

/* grid layout */
ul > li.plugin-tasks-list-item {
    grid-template-columns: 25px auto;
    display: grid;
    align-items: top;
}

span.task-description {
    grid-row: 1;
    grid-column: 1/10;
}

span.tasks-backlink {
    grid-row: 2;
    grid-column: 2;
    font-size: small;
}

span.task-recurring {
    grid-row: 2;
    font-size: small;
    width: max-content;
}

span.task-due {
    grid-row: 2;
    font-size: small;
    width: max-content;
}

span.task-done {
    grid-row: 2;
    font-size: small;
    width: max-content;
}

.tasks-list-text {
    position: relative;
    display: inline-grid;
    width: max-content;
    grid-column-gap: 10px;
}

span.task-extras {
    grid-row: 2;
    grid-column: 2;
    font-size: small;
}

/* Make sure nested bullets in Reading mode get the whole width of the grid */
li.task-list-item ul.has-list-bullet {
 grid-row: 3;
 grid-column: 1/10;
}

/* green halo */
/* .task-list-item-checkbox[data-task=" "], li.task-list-item[data-task-status-name="Todo"] .task-list-item-checkbox,
.task-list-item-checkbox[data-task="w"], li.task-list-item[data-task-status-name="Waiting"] .task-list-item-checkbox {
    box-shadow: 0 0 10px green !important;
} */

/* Custom icons for states */
/* Find here: https://lucide.dev/
   Encode here: https://yoksel.github.io/url-encoder/ */
.task-list-item-checkbox[data-task=" "], li.task-list-item[data-task-status-name="Todo"] .task-list-item-checkbox {
    border-width: 2px !important;
    border-color: mediumpurple !important;
}
/* .task-list-item-checkbox[data-task="x"], li.task-list-item[data-task-status-name="Done"] .task-list-item-checkbox {
    background-color: red !important;
} */
.task-list-item-checkbox[data-task="."], li.task-list-item[data-task-status-name="Waiting"] .task-list-item-checkbox {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 36 36' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-hourglass'%3E%3Cpath d='M5 22h14'/%3E%3Cpath d='M5 2h14'/%3E%3Cpath d='M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22'/%3E%3Cpath d='M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2'/%3E%3C/svg%3E");
}
.task-list-item-checkbox[data-task="-"], li.task-list-item[data-task-status-name="Cancelled"] .task-list-item-checkbox {
    content: ' ' !important;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 36 36' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-x'%3E%3Cpath d='M18 6 6 18'/%3E%3Cpath d='m6 6 12 12'/%3E%3C/svg%3E");
}
[data-task="-"] {
    text-decoration: line-through !important;
}

/* de-emphasize the backlinks */
.tasks-backlink {
    font-size: 0.7em;
    opacity: 0.6;
    filter: grayscale(60%);
}



/* icon instead of backlink */
/* By Anna Kornfeld Simpson (@AnnaKornfeldSimpson) https://github.com/AnnaKornfeldSimpson
   From https://github.com/obsidian-tasks-group/obsidian-tasks/discussions/834#discussioncomment-3028600

   Then converted to embed the icon inside this .css file, to remove the need
   for an internet connection, as follows:
   1. Link icon downloaded from https://twemoji.twitter.com
      https://github.com/twitter/twemoji/blob/master/assets/svg/1f517.svg
      licensed under the CC-BY 4.0
   2. SVG encoded for embedding here with https://yoksel.github.io/url-encoder/

Tasks 3.0.0 compatibility note.

    Prior to Tasks 3.0.0, the first CSS line below was the following, with a '>'
    separator.

li.plugin-tasks-list-item > span.tasks-backlink > a {
*/
/*
li.plugin-tasks-list-item span.tasks-backlink > a {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%238899A6' d='M15 9l6-6s6-6 12 0 0 12 0 12l-8 8s-6 6-12 0c-1.125-1.125-1.822-2.62-1.822-2.62l3.353-3.348S14.396 18.396 16 20c0 0 3 3 6 0l8-8s3-3 0-6-6 0-6 0l-3.729 3.729s-1.854-1.521-5.646-.354L15 9z'/%3E%3Cpath fill='%238899A6' d='M20.845 27l-6 6s-6 6-12 0 0-12 0-12l8-8s6-6 12 0c1.125 1.125 1.822 2.62 1.822 2.62l-3.354 3.349s.135-1.365-1.469-2.969c0 0-3-3-6 0l-8 8s-3 3 0 6 6 0 6 0l3.729-3.729s1.854 1.521 5.646.354l-.374.375z'/%3E%3C/svg%3E");
    height: .9em;
}
*/
